#page-wrapper {
    min-height: 100vh;
    position: relative;
    padding: 0;
    margin: 0;
}

#content-wrapper {
    padding-top: 48px;
    padding-bottom: 40px;
    width: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    height: auto;
}
body {
    padding: 0;
    margin: 0;
}
html {
    margin: 0;
    padding: 0;
}
main {
    display: flex;
    flex-direction: column;
    padding-top: 138px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
#top-bar {
    display: flex;
    position: absolute;
    background-color: white;
    flex-direction: row;
    flex-flow: row;
    height: 48px;
    width: 100%;
    margin-top: 7px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: space-between;
    padding: 0;
}
.top-links {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
.top-links:hover {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: black;
    text-decoration: underline;
}
#top-left {
    display: block;
    margin-left: 5px;
}
#about {
    margin-left: 15px;
    margin-right: 5px;
    padding: 5px;
}
#store {
    margin-left: 1px;
    margin-right: 5px;
    padding: 5px;
}

#top-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}
#gmail {
    font-size: 12px;
    margin-right: 10px;
}
#images {
    font-size: 12px;
    margin-left: 10px;

}
#apps {
    border-style: none;
    background-color: white;
    color: rgb(117, 117, 117);
    margin-left: 10px;
}
#apps:focus {
    border-style: none;
    background-color: white;
    color: rgb(117, 117, 117);
    margin-left: 10px;
    outline: none;
}
#apps:hover {
    border-style: none;
    background-color: white;
    color: rgb(54, 54, 54);
}
#sign-in {
    border-style: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: blue;
    height: 30px;
    width: 70px;
    margin-right: 25px;
    margin-left: 13px;
}
#sign-in:focus {
    border-style: none;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: blue;
    height: 30px;
    width: 70px;
    margin-right: 25px;
    margin-left: 13px;
    outline: none;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
}

#icons {
    display: flex;
    position: absolute;
    flex-direction: column;
    flex-grow: 5;
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-items: center;
    height: 50px;
}
#icon-overlay {
    flex-direction: row;
    justify-self: center;
    align-content: center;
    margin-top: 295px;
    width: 450px;
    height: 41px;
    display: flex;
}
#search-icon {
    display: flex;
    align-self: flex-start;
    color: rgb(148, 147, 147);
    transform: scale(0.8);
    margin-left: -6px;
}
#search-icon:hover {
    cursor: default;
}
#mic-icon {
    display: inline-block;
    position: relative;
    align-self: flex-end;
    flex-grow: 1;
    color: blue;
    transform: scale(1.05);
    margin-left: 415px;
    padding-bottom: 18px;
    cursor: pointer;
}
#mic-icon #tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 0;
    padding-top: 6px;
    border-radius: 2px;
    height: 10px;
    position: absolute;
    top: 90%;
    left: 93%;
    margin-left: -60px;
  }
  
#mic-icon:hover #tooltiptext {
    visibility: visible;
    cursor: pointer;
}

#mic-icon #tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#search-container {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    position: absolute;
    margin-top: 270px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    justify-self: center;
}
#search-box {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    justify-self: center;
    width: 480px;
    height: 43px;
    border-radius: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(228, 228, 228);
    background: none;
    margin-top: 30px;
    pointer-events: none;
}

input {
    display: block;
    position: relative;
    width: 400px;
    margin-top: 43px;
    height: 41px;
    border-radius: 200px;
    border-style: none;
    border-width: 1px;
    border-color: rgb(218, 218, 218);
    font-size: 18px;
    background: none;
}
input:hover + #search-box {
    width: 480px;
    height: 41px;
    box-shadow: 0px 3px 4px rgb(219, 219, 219);
    background: none;
}

input:focus {
    width: 400px;
    height: 41px;
    border-radius: 200px;
    border-style: none;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    font-size: 18px;
    outline: none;
    box-shadow: none;
    background: none;
}
#search-box #tooltiptext {
    visibility: hidden;
    width: 60px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
    padding-top: 4px;
    border-radius: 2px;
    height: 16px;
    position: absolute;
    top: 95%;
    left: 55%;
    margin-left: -60px;
  }
  
input:hover + #search-box #tooltiptext {
    visibility: visible;
    cursor: pointer;
}

#search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 292px;
    margin-top: 50px;

}
#search-buttons button {
    border-style: none;
    border-radius: 4px;
    height: 37px;
    width: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(100, 100, 100);
    text-decoration: none;
    background-color: rgb(243, 243, 243);
}
#search-buttons button:focus {
    border-style: none;
    border-radius: 4px;
    height: 35px;
    width: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(100, 100, 100);
    text-decoration: none;
    outline: none;
}
#search-buttons button:hover {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgb(190, 190, 190);
    height: 35px;
    width: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(41, 41, 41);
    text-decoration: none;
}

#footer {
    display: flex;
    position: absolute;
    bottom: 0;
    background-color: rgb(241, 240, 240);
    height: 40px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.bottom-links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(100, 100, 100);
    text-decoration: none;
}
.bottom-links:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(100, 100, 100);
    text-decoration: underline;
}
#bottom-left {
    padding-left: 15px;
}
#advertising {
    padding: 15px 15px 0px 15px;
}
#business {
    padding: 15px 15px 0px 15px;
}
#how-search {
    padding: 15px 15px 0px 15px;
}

#bottom-right {
    padding-right: 15px;
}
#privacy {
    padding: 15px 15px 0px 15px;
}
#terms {
    padding: 15px 15px 0px 15px;
}
#settings {
    padding: 15px 15px 0px 15px;
}